<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-acale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BlogBentevi</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">

    </head>